
@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(126, 142, 160);
}
.calc-shell{
    background-color: rgb(201, 204, 206);
    padding: 40px 20px;
    border: 3px solid black;
    border-radius: 3%;
    height: 55vh;
    max-width: 80vw;
    aspect-ratio: 4/5;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    border: 2px solid black;
    min-height: 75%;
    width:100%;
}

.button{
    width: 25%;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: #FFFBBD;
    border: 1px solid black;
    font-size: 32px;
}

#display{
    border: 3px solid black;
    width: 100%;
    min-height: 20%;
    min-height: px;
    background-color: #7FB069;
    margin-bottom: 20px;
    font-family: 'Orbitron', sans-serif;
}

.operation{
    background-color: #E6AA68;
    /* border-radius: 50%; */
}

#equal{
    background-color: #CA3C25;
    color: white;
    /* border-radius: 50%; */
}


#zero{
    width: 50%;
}

.button:hover{
    background-color: #f4ec80
}

.operation:hover{
    background-color: #e08b30;
}

.highlight{
    background-color: #e08b30;
}

#equal:hover{
    background-color: #c41d04;
    color: white;
    /* border-radius: 50%; */
}