body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.calc-shell{
    background-color: rgb(201, 204, 206);
    padding: 40px 20px;
    border: 2px solid black;
    border-radius: 2%;
}
.conatiner{
    height: 60vh;
    max-width: 80vw;
    aspect-ratio: 4/5;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    background-color: rgb(201, 204, 206);
    /* border: 2px solid black; */
}

.button{
    width: 25%;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: #FFFBBD;
    border: 2px solid black;
    font-size: 40px;
}

#display{
    width: 100%;
    min-height: 10%;
    background-color: #7FB069;
    margin-bottom: 20px;
}

.operation{
    background-color: #E6AA68;
    /* border-radius: 50%; */
}

#equal{
    background-color: #CA3C25;
    color: white;
    /* border-radius: 50%; */
}


#zero{
    width: 50%;
}
